@page
@model EcuProject.Pages.CarMarker.IndexModel

@{
    ViewData["Title"] = "Car markers";
}

<h3>Car makers</h3>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppCarmaker[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppCarmaker)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>
